.container__outer {
  padding: $xs-size 0 $xs-size 0;
  max-width: 780px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}





