.header__container {
  flex-direction: column;
  margin-bottom: $xs-size;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
}

.header__headline-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  margin-bottom: $s-size;
}

.header__headline {
  color: #000;
}

.header__icon-container {
  background-color: #000;
  margin-right: $s-size;
  border-radius: 50%;
  width: 40px;
  min-width: 37px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}

.header__subtitle-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}