
.tooltip-wrapper__container {
  background: inherit;
  line-height: 1.5;
  margin: 5px 0;

  font-size: 15px;
  width: 220px;

  @include mobile {
    font-size: $size-7;
    width: 180px;

  }
}

.tooltip-wrapper__label-container {
  margin-bottom: 10px;
}

.tooltip-wrapper__label {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  white-space: normal;
}

.tooltip-wrapper__sub-label {
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  white-space: normal;
}

.tooltip-wrapper__footnote {
  margin-top: 8px;
  font-size: 11px;
  font-style: italic;
  opacity: 0.8;
}