.leaflet-map__container-outer {
  height: 400px;
  width: 100%;
  margin-bottom: $xs-size;

  @include mobile {
    height: 300px
  }
}

.leaflet-map__container-inner {
  width: 100%;
  height: 100%;
}

// OVERRIDE LEAFLET STYLES
.leaflet-tooltip {
  padding: 0 !important;
  font-family: inherit;
}
.leaflet-container {
  font: inherit !important;
}