.simple-map__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: $xs-size;
  width: 100%;
  height: 100%;

  svg {
    display: block;
    margin: auto;
  }
}