.chart-header__container {
  flex: 0 1 auto;
}

.chart-header__title {
  @include mobile {
    font-size: 16px !important;
  }
  @extend %label;
  margin-bottom: 2px;
}

.chart-header__description {
  font-size: 14px;
  line-height: 1.4;
  color: #555;
}