.chart-wrapper__container {
  width: 100%;
  flex: 1 1 100%;
  padding: 10px 0 10px 0;
}

.chart-wrapper__responsive-outer {
  @extend %chart-outer;
}

.chart-wrapper__responsive-inner {
  @extend %chart-inner;
}
