@charset "utf-8";

// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');


// ---------------------------------------------------------------------
// BULMA VARS - NON COLORS
$black: #000;
$family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$size-1: 3.5rem;
$weight-light: 400;
$weight-normal: 500;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 900;
$title-weight: $weight-bold;
$box-shadow: 0 2px 3px rgba($black, 0.3), 0 0 0 1px rgba($black, 0.3);
$widescreen-enabled: false;
$fullhd-enabled: false;

// ---------------------------------------------------------------------
// BULMA IMPORTS
// @import "~bulma/bulma";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/elements/container.sass";
