
// ----------------------------------------------------------------
// SPACING

$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$xm-size: 2.3rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$lg-screen-breakpoint: 900px;
$desktop-breakpoint: 45rem;
$upper-breakpoint: 700px;
$mid-breakpoint: 550px;
$iphone5-breakpoint: 321px;
$iphone6-breakpoint: 374px;
$tiny-breakpoint: 300px;